@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    @apply text-gray-700;
  }
} */
.tick-list li {
  list-style: none; /* Removes default list style */
  padding-left: 25px; /* Adjust as needed */
  background-image: url("/static/svg/tick.svg"); /* Path to your SVG */
  background-repeat: no-repeat;
  background-size: 20px; /* Size of the icon */
  background-position: 0 2px; /* Positioning of the icon */
  margin-bottom: 10px;
}
